<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/book" th:object="${book}"  method="POST">
    <input type="hidden" name="id" th:value="${book.id}">
    <b>Title:</b>
    <input type="text" name="title" th:value="${book.title}"><br/>
    <b>Categoria:</b>
    <select th:field="*{bookCategory}">
        <option th:each="bookCategory: ${bookCategories}" th:value="${bookCategory.id}"  th:text="${bookCategory.name}"></option>
    </select>
    <br/>
    <b>Autor:</b>
    <select th:field="*{author}">
        <option th:each="author: ${authors}" th:value="${author.id}"  th:text="${author.name}"></option>
    </select>
    <br/>
    <b>Likes:</b><input type="text" name="likes" th:value="${book.likes}"> <br/>
    <b>Mostrar:</b>
    <input type="text" name="mostrar" th:value="${book.mostrar}"><br/>

    <input type="submit" value="Guardar">

</form>
</body>
</html>